.results {
  justify-content: flex-end;
  gap: 16px;
  margin: auto;
}
.results h3 {
  background-color: brown;
  padding: 5px;
  height: 30px;
  border-radius: 2px;
}

.results,
ul,
li {
  list-style: none;
  padding: 5px;
}

.listContainer {
  overflow: auto;
  height: 160px;
}

.listItem {
  cursor: pointer;
  border-bottom: 1px solid grey;
  padding-top: 2px;
  padding-bottom: 2px;
}

.listItem:hover {
  opacity: 0.4;
}
